fastapi
uvicorn
sqlalchemy>=2.0
alembic
pymysql
pydantic
pydantic-settings
python-dotenv
email-validator
httpx
requests
pandas
python-dateutil
pytest
black
isort
mypy
pwdlib[argon2]
PyJWT
cryptography